희망지역을 기준 회사매칭

In [43]:
pip install pandas

Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.11/site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/anaconda3/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: numpy>=1.21.0 in /opt/anaconda3/lib/python3.11/site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [44]:
import pandas as pd

df1_new = pd.read_excel(r'/Users/kimda/Documents/장애인고용/company_pre.xlsx')
df2 = pd.read_excel(r'/Users/kimda/Documents/장애인고용/data_clusters.xlsx')

In [45]:
df2['희망지역'].unique()

array(['서울', '경북', '경기', '대구', '제주', '전북', '충남', '경남', '울산', '인천', '세종',
       '강원', '부산', '광주', '기타', '전남', '전체', '대전', '충북', '충청', '경상', '전라'],
      dtype=object)

In [46]:
#comAddr값 띄어쓰기 이후 삭제
df1_new['New_Address'] = df1_new['compAddr'].apply(lambda x: x.split()[0])
df1_new['New_Address'].unique()

array(['인천광역시', '전라북도', '서울특별시', '대전광역시', '경기도', '충청남도', '세종특별자치시',
       '울산광역시', '경상남도', '부산광역시', '경상북도', '강원도', '전북특별자치도', '충청북도',
       '광주광역시', '대구광역시', '강원특별자치도'], dtype=object)

In [47]:
# 제주, 기타, 전남, 전체, = 데이터에 없는거라 빈리스트반환
# 경상: 경상남도,경상북도 / 전라: 전라남도,전라북도

In [48]:
# '희망지역'열의 글자가 'New_Address'의 값에 포함되는지 확인하는 함수

def check_inclusion(word, df1_new):
    result = []
    for value in df1_new['New_Address']:
        if all(char in value for char in word):
            result.append(value)
    return list(set(result))

# df2에 새로운 열 추가
df2['char'] = df2['희망지역'].apply(lambda x: check_inclusion(x, df1_new))

df2[11438:11445]

,Unnamed: 0,연번,연령대,희망지역,희망직종,희망임금,장애유형,중증여부,기관분류,직종클러스터,char
11438,11438,11439,30대,전라,환경·청소 관리자,(시급)9620,지적장애,중증,공단,24,[전라북도]
11439,11439,11440,60대,전남,제과·제빵원,(월급)2050000,지체장애,경증,공단,19,[]
11440,11440,11441,40대,충남,모니터 요원,(시급)9620,시각장애,경증,공단,25,[충청남도]
11441,11441,11442,30대,충북,모니터 요원,(시급)9620,뇌병변장애,경증,공단,25,[충청북도]
11442,11442,11443,10대,전남,기타 서비스 단순종사원,(시급)9620,지적장애,중증,공단,4,[]
11443,11443,11444,50대,강원,주방 보조원(일반 음식점),(월급)2020000,시각장애,경증,공단,18,"[강원도, 강원특별자치도]"
11444,11444,11445,40대,경남,"인쇄, 목재, 가구 및 기타 제조 분야 단순 종사원",(시급)9620,지적장애,중증,공단,2,[경상남도]

In [49]:
import pandas as pd

# 매칭할 열 이름 설정
column_1 = "char"
column_2 = "New_Address"

# 새로운 열에 추가될 데이터를 담을 리스트 초기화
new_column_values = []

# df2의 각 행에 대해 순회
for index, row in df2.iterrows():
    # 매칭할 열1의 값 (리스트)
    value_list = row[column_1]
    
    # 필터링된 행의 'busplaName' 값을 담을 리스트 초기화
    matching_b_values = []

    # df1_new의 각 행에 대해 순회
    for _, sub_row in df1_new.iterrows():
        # 매칭할 열2의 값 (단일 값)
        address_value = sub_row[column_2]
        
        # value_list에 address_value가 있는지 확인
        if address_value in value_list:
            matching_b_values.append(sub_row['busplaName'])
    
    # 결과를 리스트에 추가
    new_column_values.append(matching_b_values)

# 새로운 열 생성
df2['MatchingBusplaName3'] = new_column_values



# 결과 출력
df2

,Unnamed: 0,연번,연령대,희망지역,희망직종,희망임금,장애유형,중증여부,기관분류,직종클러스터,char,MatchingBusplaName3
0,0,1,20대,서울,사무 보조원,(시급)9620,지적장애,중증,공단,0,[서울특별시],"[서울남사초등학교, 더봄플러스 주식회사, (주)케이티아이에스(ktisCorporat..."
1,1,2,30대,서울,의료 보조원(간호조무사 제외),(시급)9620,지적장애,중증,공단,17,[서울특별시],"[서울남사초등학교, 더봄플러스 주식회사, (주)케이티아이에스(ktisCorporat..."
2,2,3,20대,서울,사무 보조원,(시급)9620,지적장애,중증,공단,0,[서울특별시],"[서울남사초등학교, 더봄플러스 주식회사, (주)케이티아이에스(ktisCorporat..."
3,3,4,50대,서울,환경 미화원,(시급)9620,지적장애,중증,공단,3,[서울특별시],"[서울남사초등학교, 더봄플러스 주식회사, (주)케이티아이에스(ktisCorporat..."
4,4,5,50대,경북,식품 분야 단순 종사원,(시급)9620,정신장애,중증,공단,1,[경상북도],"[(주)현대그린푸드 서한ENP지점, (주)디에스엠알오, (주)디에스엠알오, 삼정의료..."
...,...,...,...,...,...,...,...,...,...,...,...,...
38774,38774,38775,10대,경남,음료 조리사,(시급)9620,지적장애,중증,공단,8,[경상남도],"[국토안전관리원, 한국토지주택공사, 한국토지주택공사, SK오션플랜트(주), 새통영병..."
38775,38775,30055,40대,서울,건축 제도사(캐드원),(연봉)60000000,신장장애,경증,공단,16,[서울특별시],"[서울남사초등학교, 더봄플러스 주식회사, (주)케이티아이에스(ktisCorporat..."
38776,38776,38777,40대,경남,음료 조리사,(시급)9620,지적장애,중증,공단,8,[경상남도],"[국토안전관리원, 한국토지주택공사, 한국토지주택공사, SK오션플랜트(주), 새통영병..."
38777,38777,35197,40대,울산,수질 환경 기술자 및 연구원,(연봉)60000000,지체장애,경증,공단,16,[울산광역시],"[다른과너른울산발달장애인사회적협동조합, 원업크리에이티브, 신울산노인재가복지센터, 티..."
38778,38778,38779,20대,충북,기타 기계 조작원,(시급)9620,지적장애,중증,공단,20,[충청북도],"[한국토지주택공사 충북지사, 오송국민체육센터, 주식회사액세스나인, 엔켐]"